@charset 'UTF-8';

.con{
	width: 1180px;
	margin: 0 auto;
}
.con-box{
	width: 100%;
	height: 500px;
	margin-bottom: 30px;
}
.banner{
	width: 850px;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.banner-box{
	width: 700%;
	animation: rot 50s linear infinite;
	animation-delay: 2s;
}
@keyframes rot{
	0%{
		margin-left: 0;
	}
	10%{
		margin-left: -850px;
	}
	14%{
		margin-left: -850px;
	}
	24%{
		margin-left: -1700px;
	}
	28%{
		margin-left: -1700px;
	}
	38%{
		margin-left: -2550px;
	}
	42%{
		margin-left: -2550px;
	}
	52%{
		margin-left: -3400px;
	}
	56%{
		margin-left: -3400px;
	}
	66%{
		margin-left: -4250px;
	}
	70%{
		margin-left: -4250px;
	}
	80%{
		margin-left: -5100px;
	}
	84%{
		margin-left: -5100px;
	}
	94%{
		margin-left: -5950px;
	}
	98%{
		margin-left: -5950px;
	}

}
.banner-box ul{
	height: 100%;
}
.banner-box ul li{
	width: 850px;
	height: 500px;
	float: left;
	cursor: pointer;
}
.banner-box ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.do{
	transition: 0.5s;
	opacity: 0;
}
.banner-box:hover + .do{
	opacity: 1;
}
.do span{
	display: inline-block;
	position: absolute;
	width: 40px;
	height: 65px;
	cursor: pointer;
}
.do:hover{
	opacity: 1;
}
.do .left{
	top: 50%;
	left: 0px;
	margin-top: -20px;
	background: url("../images/n17_first_prev01.png") no-repeat;
}
.do .left:hover{
	background: url("../images/n17_first_prev01.png") no-repeat 0px -66px;
}
.do .right{
	top: 50%;
	right: 0px;
	margin-top: -20px;
	background: url("../images/n17_first_next01.png") no-repeat;
}
.do .right:hover{
	background: url("../images/n17_first_next01.png") no-repeat 0px -66px;
}
.small{
	position: absolute;
	bottom: 8px;
	left: 50%;
	width: 140px;
	height: 20px;
	margin-left: -60px;
}
.small ul li{
	float: left;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #FFF;
	margin: 0 5px;
	cursor: pointer;
}
.small ul li:hover{
	background-color: #DF2627;
	transform: scale(1.3);
}
.adsame{
	width: 300px;
	height: 500px;
	float: right;
}
.adsame img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.n17_box_body{
	width: 1180px;
	height: 600px;
	margin: 0 auto 30px;
	position: relative;
}
.n17_img_box{
	width: 388px;
	height: 600px;
	float: left;
	position: relative;
}
.n17_img_box ul{
	position: absolute;
	width: 84px;
	height: 25px;
	bottom: 10px;
	left: 50%;
	margin-left: -42px;
}
.n17_img_box ul li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #D2D2D2;
	float: left;
	margin: 0 8px;
	cursor: pointer;
}
.n17_img_box ul li:hover{
	transform: scale(1.3);
	background-color: #FF1216;
}
.n17_img_box div a{
	width: 100%;
	position: absolute;
	display: block;
	bottom: 60px;
	z-index: 20;
	text-align: center;
	color: #FFF;
}
.n17_img_box div a h3{
	font-size: 22px;
}
.n17_img_box div a p{
	letter-spacing: 5px;
	height: 20px;
	line-height: 30px;
}
.n17_today_box{
	width: 432px;
	height: 600px;
	padding-left: 30px;
	float: left;
}
.n17_today_box .n17_today_img{
	padding: 15px 0;
}
.n17_today_box ul{
	padding: 18px 0;
}
.n17_today_box ul li{
	width: 432px;
	height: 44px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0.5s;
}
.n17_today_box ul li a{
	color: #000;
	font-size: 18px;

}
.n17_today_box ul li:hover{
	transform: translateX(10px);
}
.n17_today_box ul li:hover a{
	color: #FF0000;
}
.n17_red_body{
	width: 432px;
	height: 215px;
}
.n17_red_body .left,.right{
	width: 206px;
	height: 100%;
	float: left;
	position: relative;
    cursor: pointer;
}
.n17_red_body .right{
	float: right;
}
.n17_red_body .left a,.right a{
	font-size: 20px;
    padding: 12px 5px;
    display: block;
    color: #000;
}
.n17_red_body .left a:hover,.right a:hover{
	color: #C6171E;
}
.n17_red_body .left span,.right span{
	position: absolute;
	bottom: 0;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(../images/n17_pk_line.png) 0px -15px repeat-x;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.n17_red_body .left img:hover + span,.right img:hover + span{
	color: #DC1414;
}
.n17_red_body .left span:hover,.right span:hover{
	color: #DC1414;
}
.n17_try_body{
	width: 268px;
    height: 240px;
    border: 1px solid #dcdcdc;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}
.n17_try_top{
	width: 268px;
	height: 65px;
}
.n17_try_top h3{
	display: inline-block;
	position: absolute;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    top: 15px;
}
.n17_try_top ul{
	position: absolute;
	top: 24px;
	right: 18px;
	width: 110px;
	height: 25px;
}
.n17_try_top ul li{
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #D2D2D2;
	margin: 0 5px;
	cursor: pointer;
}
.n17_try_top ul li:hover{
	background-color: #FF1216;
}
.n17_try_middle{
	width: 268px;
}
.n17_try_middle img{
	float: left;
	width: 130px;
}
.n17_try_middle p{
	margin-left: 140px;
	margin-bottom: 15px;
}
.n17_try_middle span{
	font-size: 12px;
	margin-left: 12px;
}
.n17_try_bottom{
	width: 268px;
	height: 80px;
}
.n17_try_bottom .One{
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
}
.n17_try_bottom .Two{
	background-color: #1B1B1B;
	font-size: 14px;
	padding: 8px;
	margin-left: 10px;
	border-radius: 30px;
	color: #FFF;
	cursor: pointer;
}
.n17_try_bottom .Two:hover{
	background-color: #FF0000;
}
.adsame-box{
	position: absolute;
	right: 0;
	top: 299px;
	width: 300px;
	height: 300px;
}
.n17_pick_box{
	width: 1180px;
	height: 533px;
	margin: 0 auto 30px;
}
.n17_tit_one{
	width: 1180px;
	height: 40px;
	padding: 20px 0;
}
.n17_tit_one img{
	vertical-align: middle;
}
.n17_pick_nav{
	width: 1180px;
	height: 63px;
	border: 1px solid #C9C9C9;
	line-height: 61px;
	margin-bottom: 28px;
}
.n17_pick_nav ul{
	padding-left: 40px;
}
.n17_pick_nav ul li{
	float: left;
	font-size: 20px;
	margin: 0 42px;
	cursor: pointer;
}
.n17_pick_nav ul li:hover{
	border-bottom: 5px solid #FF1216;
}
.n17_pick_list{
	width: 1210px;
	height: 362px;
}
.n17_pick_list ul{
	height: 362px;
}
.n17_pick_list ul li{
	width: 272px;
	height: 100%;
	float: left;
	margin-right: 30px;
	position: relative;
	opacity: 0.9;
}
.n17_pick_list ul li:hover{
	opacity: 1;
}
.n17_pick_list ul li a{
	display: block;
	width: 272px;
	height: 100%;
}
.n17_pick_tip{
	width: 272px;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	color: #FFF;
	padding: 287px 0 15px;
	background: url(../images/n17_pk_line.png) repeat-x 0 210px;
}
.n17_index_box{
	width: 1180px;
	height: 100px;
	margin: 0 auto 30px;
}
.n17_index_box a{
	display: block;
}
.n17_fashion{
	width: 1180px;
	height: 1307px;
	margin: 0 auto 30px;
}
.n17_tit_nav{
	width: 1180px;
	padding: 22px 0;
	text-align: center;
}
.n17_tit_nav a{
	padding: 0 36px;
	font-size: 18px;
	color: #000;
}
.n17_tit_nav a:hover{
	color: #C6171E;
}
.n17_more_banner{
	width: 1180px;
	height: 465px;
	margin-bottom: 30px;
	clear: 
}
.n17_box_790{
	width: 790px;
	height: 100%;
	float: left;
	position: relative;
}
.n17_box_360{
	width: 360px;
	height: 100%;
	float: right;
}
.n17_box_790 ul{
	position: absolute;
	width: 84px;
	height: 25px;
	bottom: 10px;
	left: 50%;
	margin-left: -42px;
}
.n17_box_790 ul li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #D2D2D2;
	float: left;
	margin: 0 8px;
	cursor: pointer;
}
.n17_box_790 ul li:hover{
	transform: scale(1.3);
	background-color: #FF1216;
}
.n17_box_790 div a{
	width: 770px;
    height: 24px;
    background: url(../images/n17_pk_line.png) left bottom repeat-x;
    padding: 80px 10px 60px;
    font-size: 26px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 0;
}
.n17_box_790 div a p{
    height: 24px;
    font-size: 24px;
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.n17_focus_txt{
	width: 126px;
    height: 26px;
    display: block;
    line-height: 26px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: 50%;
    margin-left: -42px;
    top: 0;
    letter-spacing: 5px;
}
.fashion_790_ad{
	width: 790px;
	height: 664px;
	display: inline-block;
}
.fashion_ad_li{
	width: 380px;
	height: 254px;
	margin-bottom: 30px;
	position: relative;
	opacity: 0.9;
}
.fashion_ad_li a p{
	position: absolute;
	bottom: 0;
	width: 380px;
	height: 80px;
	line-height: 100px;
	font-size: 16px;
	text-align: center;
	color: #FFF;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: url(../images/n17_pk_line.png) repeat-x 0 -10px;
}
.fashion_ad_li:hover{
	opacity: 1;
}
.fashion_ad_li:hover a p{
	color: #FF0000;
}
.video_logo{
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 46px;
	height: 46px;
	background: url(../images/n17_video_btn.png);
}
.fashion_bottom_txt1{
	width: 380px;
	height: 63px;
	position: relative;
	border-bottom: 1px;
	background: url(../images/n17_dian.png) left bottom repeat-x;
	padding-bottom: 5px;
}
.fashion_bottom_txt1 a{
	display: block;
	padding-left: 65px;
	padding-top: 8px;

}
.fashion_bottom_txt1 img{
	position: absolute;
	top: 10px;
}
.fashion_bottom_txt2{
	width: 380px;
	height: 63px;
	background: url(../images/n17_dian.png) left bottom repeat-x;
	line-height: 63px;
	font-size: 16px;
}
.fashion_bottom_txt1 a:hover,.fashion_bottom_txt2 a:hover{
	color: #FF0000;
}
.fashion_360_ad{
	width: 360px;
	height: 664px;
	text-align: center;
}
.fashion_360_list{
	height: 380px;
	background: url(../images/n17_recom_bg.png);
	margin-bottom: 30px;
}
.fashion_360_list img{
	width: 186px;
	padding: 30px 0 10px 0;
	margin: 0 auto;
}
.fashion_360_list ul{
	width: 300px;
	padding: 0 30px;
}
.fashion_360_list ul li{
	text-align: left;
	height: 20px;
	line-height: 20px;
	padding: 16px 0px;
	font-size: 16px;
	background: url(../images/n17_dian.png) left bottom repeat-x;
}
.fashion_360_list ul li a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0.3s;
}
.fashion_360_list ul li a:hover{
	transform: translateX(20px);
	color: #FF0000;
}
.fashion_360_banner{
	width: 342px;
	height: 234px;
	padding: 9px;
	border: 1px solid #dcdcdc;
	position: relative;
}
.fashion_360_banner ul{
	width: 40px;
	height: 25px;
	position: absolute;
	right: 30px;
	bottom: 10px;
}
.fashion_360_banner ul li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #D2D2D2;
	margin: 0 4px;
}
.fashion_360_banner ul li:hover{
	background-color: #FF1216;
}
.beauty_con_box{
	height: 1465px;
	margin-bottom: 30px;
}
.beauty_790_ad{
	width: 790px;
	height: 882px;
	display: inline-block;
}
.fashion_li_img{
	text-align: center;
}
.fashion_ad_li img{
	padding-bottom: 12px;
}
.fashion_ad_li ul{
	width: 300px;
	padding: 0 15px;
}
.fashion_ad_li ul li{
	height: 16px;
	line-height: 16px;
	padding: 10px 0px;
	font-size: 16px;
	background: url(../images/n17_dian.png) left bottom repeat-x;
}
.fashion_ad_li ul li a{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0.3s;
}
.fashion_ad_li ul li a:hover{
	transform: translateX(20px);
	color: #FF0000;
}
.fashion_li_esp{
	width: 100%;
	height: 100%;
	background: url(../images/n17_qa_bg.png);
}
.fashion_li_esp p{
	width: 225px;
	text-align: center;
	text-indent: 5px;
	font-size: 12px;
	margin-left: 140px;
}
.esp1{
	margin: 10px 0 0 10px;
}
.esp2{
	margin-top: 30px;
}
.fashion_li_esp button{
	width: 75px;
	height: 28px;
	border-radius: 20px;
	background-color: #1B1B1B;
	border: 0;
	color: #FFF;
	margin-left: 70px;
	cursor: pointer;
}
.fashion_li_esp button:hover{
	background-color: #FF0000;
}
.li_esp{
	width: 100%;
	height: 100%;
	position: relative;
}
.esp3{
	position: absolute;
	left: 8px;
	bottom: 0;
	z-index: 1;
}
.li_esp a p{
	height: 60px;
	line-height: 25px;
	text-align: left;
	margin-left: 70px;
}
.li_esp a:hover p{
	color: #FFF;
}
.beauty_360_ad{
	width: 360px;
	height: 822px;
	display: inline-block;
}
.beauty_360_banner_t{
	height: 538px;
	position: relative;
	margin-bottom: 30px;
}
.banner_t_txt{
	width: 100%;
	height: 90px;
	position: absolute;
	bottom: 0;
	text-align: center;
	background: url(../images/n17_pk_line.png) repeat-x 0 -10px;
}
.banner_t_txt a{
	display: block;
	margin: 0 auto;
	color: #FFF;
}
.a_1{
	width: 270px;
	height: 40px;
	line-height: 24px;
	font-size: 24px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
}
.a_2{
	font-size: 20px;
	padding-top: 10px;
}
.beauty_360_banner_t ul{
	width: 40px;
	height: 25px;
	position: absolute;
	right: 20px;
	bottom: 4px;
}
.beauty_360_banner_t ul li{
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #D2D2D2;
	margin: 0 4px;
	cursor: pointer;
}
.beauty_360_banner_t ul li:hover{
	background-color: #FF1216;
}
.interative_con{
	height: 1061px;
	margin-bottom: 50px;
}
.celebrity_con_box{
	height: 897px;
	margin-bottom: 30px;
}
.luxury_con_box{
	height: 643px;
	margin-bottom: 30px;
}
.star_con_box{
	height: 680px;
	margin-bottom: 30px;
	position: relative;
}
.star_con_box div.n17_star_tit{
	float: left;
	display: inline-block;
	margin: 10px 0;
}
.star_con_box a.n17_star_btn{
	float: right;
	width: 80px;
	height: 22px;
	text-align: center;
	background-color: #ff0000;
	border-radius: 20px;
	color: #fff;
	margin-top: 10px;
	padding: 4px;
}
.star_con_box a.n17_star_btn:hover{
	background-color: #1b1b1b;
}
.star_con_box div.n17_box_star{
	position: absolute;
	top: 95px;
	width: 100%;
	height: 280px;
	margin-top: 20px;
}
.star_con_box div.n17_box_star dl{
	float: left;
	width: 278px;
	height: 280px;
	cursor: pointer;
} 
.star_con_box div.n17_box_star dl:hover .describe{
	display: block;
}
.star_con_box div dl dd.name1{
	position: absolute;
	bottom: 0px;
	width: 70px;
	text-align: center;
	background-color: rgba(203,33,37,0.8);
	padding: 10px 15px;
	font-size: 18px;
	color: #FFF;
}
.star_con_box div dl dd.name2{
	position: absolute;
	bottom: 0px;
	width: 60px;
	text-align: center;
	background-color: rgba(203,33,37,0.8);
	padding: 8px 12px;
	font-size: 16px;
	color: #FFF;
}
 .star_con_box div.n17_box_star dl dd.describe{
	position: absolute;
	top: 0px;
	width: 280px;
	height: 280px;
	background-color: rgba(203,33,37,0.7);
	color: #fff;
	display: none;
 }
 .star_con_box div dl dd h3.title{
	position: absolute;
	right: 100px;
	display: block;
	margin: 10px auto;
 }
 .star_con_box div dl dd ul{
	position: absolute;
	top: 38px;
	text-indent: 20px;
 }
 .star_con_box div dl dd ul li{
	list-style: none;
	margin-bottom: 10px;
	font-size: 14px;
 }
.star_con_box div.n17_box_star1{
	position: relative;
	height: 180px;
	cursor: pointer;
}
.star_con_box div.n17_box_star1 dl{
	position :relative;
	float: left;
	margin-right: 20px;
}
.star_con_box div dd.describe1{
	position: absolute;
	top: 0px;
	width: 180px;
	height:  180px;
	background-color: rgba(203,33,37,0.7);
	color: #fff;
	display: none;
}
.star_con_box div dl:hover .describe1{
	display: block;
}
.star_con_box div dl:hover .name1,dl:hover .name2{
	display: none;
}
.star_con_box div h3.title1{

	position: absolute;
	right: 46px;
	margin: 10px auto;
	padding: 5px 10px;
}
.life_con_box{
	height: 643px;
	margin-bottom: 30px;
}
.magzine_con_box{
	height: 504px;
	margin-bottom: 30px;
}
.magzine_con_box a:hover{
	color: #c6171e;
}
.n17_tit_one{
    text-align: center;
    padding: 20px 0;
}
div.n17_maga_all{
	font-family: 'Microsoft YaHei';
	overflow: hidden;
}
div.n17_maga_all ul{
    overflow: hidden;
	width:970px;
	margin:0 auto;
}
.n17_maga_all ul li{
	float: left;
	width: 212px;
    margin-right: 30px;
}
.n17_tit_nav_bt{
    width: 100%;
    text-align: center;
    line-height: 60px;
    padding-top: 20px;
    font-size: 18px;
}
.n17_maga_show{
    width: 212px;
    height: 276px;
   
}
.n17_maga_box{
	display: block;
    padding: 10px 0;
    text-align: center;
}
.mobile_con_box{
	height: 800px;
}
.interative{
	padding: 20px 0;
}
.interative_recommend{
	 width: 1210px;
	 height: 496px;
}
.acitve_box{
	width: 371px;
	height: 496px;
	margin-right: 30px;
	position: relative;
	overflow: hidden;
}
.act_tit{
	display: block;
	width: 348px;
	height: 36px;
	padding: 16px 10px;
	font-size: 18px;
}
.act_body{
	width: 100%;
	height: 315px;
	margin-bottom: -1px;
	border-bottom: 1px dashed #ccc;
}
.act_show{
	border-bottom: 1px dashed #ccc;
	width: 100%;
	height: 63px;
	line-height: 63px;
	cursor: pointer;
	font-size: 16px;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
}
.act_none{
	position: absolute;
}
.act_line{
	height: 66px;
}
.act_line p{
	margin-top: 8px;
}
.act_img1{
	margin: 5px 10px 0 0;
}
.eg_h3{
	font-size: 14px;
}
.eg_p{
	font-size: 16px;
}
.eg_esp{
	display: inline-block;
	width: 80px;
	height: 20px;
	text-align: center;
	color: #FFF;
	background-color: #1B1B1B;
	font-size: 15px;
	border-radius: 20px;
	padding: 5px 10px 8px 10px;
	margin-left: 30px;
}
.eg_esp:hover{
	background-color: #FF0000;
}
.interative_banner{
	width: 790px;
	margin-top: 30px;
}
.inter_banner_con{
	width: 780px;
	height: 380px;
	position: relative;
}
.inter_banner_img{
	width: 200px;
	height: 360px;
	margin: 0 15px;
	float: left;
}
.inter_banner_left,.inter_banner_right{
	width: 40px;
	height: 65px;
	margin-top: 150px;
}
.inter_banner_left a,.inter_banner_right a{
	display: inline-block;
	width: 100%;
	height: 100%;;
}
.inter_banner_left a{
	background: url("../images/n17_first_prev01.png") no-repeat;
}
.inter_banner_right a{
	background: url("../images/n17_first_next01.png") no-repeat;
}
.inter_banner_img p{
	text-align: center;
	font-size: 16px;
	line-height: 40px;
}
.interative_adv{
	width: 360px;
	height: 460px;
	margin-top: 30px;
}
.mobile_con_body{
	height: 700px;
	position: relative;
}
.mobile_tit1,.mobile_tit2,.mobile_tit3{
	position: absolute;
	font-size: 20px;
}
.mobile_tit1{
	left: 190px;
    top: 110px;
}
.mobile_tit2{
	left: 540px;
    top: 30px;
}
.mobile_tit3{
    left: 790px;
    top: 68px;
}
.mobile_img_box{
	height: 480px;
	position: relative;
}
.mobile_img1,.mobile_img2,.mobile_img3{
	position: absolute;
	cursor: pointer;
}
.mobile_img1{
	width: 300px;
	height: 330px;
    left: 90px;
    bottom: 0;
    background: url(../images/n17_mobile_bg01.png) no-repeat;
    z-index: 30;
    transition: 0.5s;
}
.mobile_img1 img{
	position: absolute;
	top: 80px;
	left: 35px;
}
.mobile_img1:hover{
	transform: translateY(-18px);
}
.mobile_img2{
	width: 350px;
	height: 400px;
    left: 420px;
    bottom: 0;
    background: url(../images/n17_mobile_bg02.png) no-repeat;
    z-index: 20;
    transition: 0.5s;
}
.mobile_img2 img{
	position: absolute;
	top: 80px;
	left: 20px;
}
.mobile_img2:hover{
	transform: translateY(-18px);
}
.mobile_img3{
	width: 330px;
	height: 370px;
    left: 700px;
    bottom: 0;
    background: url(../images/n17_mobile_bg03.png) no-repeat;
    transition: 0.5s transform;
}
.mobile_img3 img{
	position: absolute;
	top: 80px;
	left: 26px;
}
.mobile_img3:hover{
	transform: translateY(-18px);
	z-index: 20;
}
.img_esp1,.img_esp2,.img_esp3{
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.mobile_img1:hover .img_esp1,.mobile_img2:hover .img_esp2,.mobile_img3:hover .img_esp3{
	opacity: 1;
}
.mobile_line{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 275px;
	background-image: url(../images/n17_mobile_line.png);
	z-index: 40;
}
.mobile_line_con{
	width: 555px;
	height: 140px;
	margin-top: 80px;
}
.mobile_img4{
	padding: 15px 15px 20px 50px;
}
.mobile_line_txt{
	margin: 25px 15px 0 5px;
}
.mobile_line_txt h3{
	font-size: 20px;
    padding-bottom: 8px;
    font-weight: 400;
}
.mobile_line_txt p{
	font-size: 16px;
}
.mobile_img5{
	width: 121px;
	height: 121px;
	padding: 0 30px 0 8px;
}
.mobile_bot{
	width: 100%;
	height: 55px;
	margin: 240px 0 0 80px;
	font-size: 18px;
}
.mobile_bot p a{
	font-size: 14px;
	padding-left: 60px;
}
.mobile_bot p a:hover{
	color: #FF0000;
}